* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow:hidden;
}
nav {
    height: 10vh;
    background-color: lightgray;
    padding: 10px;
}

.small-box {
    background-color: rgb(91, 169, 241);
    width: 5%;
    height: 100%;
    margin-left: 20px;
}

.text {
    padding: 40px 40px;
    height: 30vh;
   
}

p {
    text-align: justify;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 1.4em;
    
}

.colors {
    height: 15vh;
}

.ocean {
    background-color: rgb(91, 169, 241);
}

.seafoam {
    background-color: rgb(147, 221, 217);
}

.green {
    background-color: lightgreen;
}

.gold {
    background-color: gold;
}